# Ignore everything in the all_plots directory
all_plots/*
**.png
# Except for Python files (.py) in all_plots and its subdirectories
!all_plots/**/*.py
# Except for subdirectories in all_plots
!all_plots/**/
# Specifically ignore .fif files in all_plots
all_plots/**/*.fif

# Ignore everything in the EDF+ directory
EDF+/*
# Except for subdirectories in EDF+
!EDF+/ 

# I want to rename folder, so include plots:

# Ignore everything in the plots directory
plots/*
# Except for Python files (.py) in plots and its subdirectories
!plots/**/*.py
# Except for subdirectories in plots
!plots/**/
# Specifically ignore .fif files in plots
plots/**/*.fif
# Ignore all .png files in plots
plots/**/*.png

all_plots/
/all_plots/
all_plots/*
/all_plots/*
all_plots/**
/all_plots/**
bad_data/Incomplete data/062000/062000.json
bad_data/
bad_data/**
emotion_data/
unmarked_attention_data/